{% extends "base.html.twig" %}

{% block content %}
    {% for groupName, group in statuses %}
        <div class="status-item heading">
            {{ groupName }}
        </div>
        {% for siteStatus in group.web %}
            {% if siteStatus.status.code == 200 %}
                {% set alertState = 'status-ok' %}
                {% set alertBg = 'bg-success' %}
                {% set stateIcon = 'check' %}
            {% else %}
                {% set alertState = 'status-bad' %}
                {% set alertBg = 'bg-danger' %}
                {% set stateIcon = 'times' %}
            {% endif %}
            <div class="status-item">
                <p class="float-left">
                    <strong><a href="{{ siteStatus.endpoint }}" rel="noopener noreferrer" target="_blank">{{ siteStatus.name }}</a></strong>
                </p>
                <span class="status-badge {{ alertBg }}">{{ siteStatus.status.code }}</span>

                <div class="clearfix"></div>

                {% if siteStatus.status.code != 200 %}
                    <p class="mt-2 {{ alertState }}">{{ siteStatus.status.phrase }}</p>
                {% endif %}
            </div>
        {% endfor %}
        {% for serviceStatus in group.server %}
            {% if serviceStatus.status == '' %}
                {% set alertState = 'status-ok' %}
                {% set alertBg = 'bg-success' %}
                {% set stateIcon = 'check' %}
                {% set stateMessage = 'OK' %}
            {% else %}
                {% set alertState = 'status-bad' %}
                {% set stateIcon = 'times' %}
                {% set alertBg = 'bg-danger' %}
                {% set stateMessage = 'ERROR' %}
            {% endif %}
            <div class="status-item">
                <p class="float-left">
                    <strong>{{ serviceStatus.name }}</strong>
                </p>
                <span class="status-badge {{ alertBg }}">{{ stateMessage }}</span>
                <div class="clearfix"></div>

                {% if serviceStatus.status != '' %}
                    <p class="mt-2 {{ alertState }}">{{ serviceStatus.status }}</p>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
